body {
    background-color: black;
}

#movingCircle {
    fill: rgb(247, 2, 2);
    transform-origin: center;
    transform-box: fill-box;

}

.titolo {
    font-weight: 100;
    font-size: 100px;
    color: white;
    font-family: 'LoewNext-Regular';
    line-height: 1.5;
}

.sottotitolo {
    font-weight: 100;
    font-size: 50px;
    color: white;
    font-family: 'LoewNext-Regular';
    line-height: 1.5;
}

.sottotitolo1 {
    font-weight: 100;
    font-size: 45px;
    color: white;
    font-family: 'LoewNext-Regular';
    line-height: 1.5;
}

.aboutmovie {
    font-weight: 100;
    font-size: 50px;
    color: white;
    font-family: 'LoewNext-Bold';
    line-height: 1.3;
    margin-top:900px;
    text-align: center;
}

.specifiche {
    font-weight: 100;
    font-size: 25px;
    color: white;
    font-family: 'LoewNext-Regular';
    line-height: 1.3;
    margin-top:50px;
    text-align: center;
}

.trama {
    font-weight: 100;
    font-size: 30px;
    color: white;
    font-family: 'LoewNext-Regular';
    line-height: 1.3;
    margin-top:50px;
    text-align: center;
}

.aboutwebsite {
    font-weight: 100;
    font-size: 50px;
    color: white;
    font-family: 'LoewNext-Bold';
    line-height: 1.3;
    margin-top:300px;
    text-align: center;
}



