 .html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
}

.body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.spiegone {
    transform: translateY(20px);
    opacity: 0;
    transition: 1.2s ease;
}

.spiegone--visible {
    transform: translateY(0);
    opacity: 1;
} 